<div class="portfolio">
    <div class="portfolio-header resume-header">
        <div class="header-title">
            <span>作品集</span>
            <br>
            <span>PORTFOLIO</span>
        </div>
        <div class="header-category">
            <v-tabs
                    background-color="transparent"
                    color="#d76e51"
                    hide-slider
                    class="portfolio-tabs"
                    v-model="currentTab">
                <v-tab v-for="item in portfolioCategoryList"
                       :key="item.id">
                    {{ item.name }}
                </v-tab>
            </v-tabs>
        </div>
    </div>
    <div class="portfolio-content">
        <div class="portfolio-content-wrapper">
            <div class="content-grid">
                <div v-for="item in portfolioCategoryItemList"
                     class="portfolio-item">
                    <img :src="item.image">
                    <div class="portfolio-detail">
                        <span class="portfolio-detail-title">
                            {{ item.name }}
                        </span>
                        <hr/>
                        <div class="portfolio-detail-content">
                            <span>{{ item.description }}</span>
                        </div>
                        <div class="portfolio-detail-footer">
                            <a :href="item.link" target="_blank">
                                <i class="resume-icon icon-arrow-circle-right"></i>
                                <span>點我去看看</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
