<v-app>
    <v-app-bar app
               short
               clipped-left
               hide-on-scroll
               color="#2a2d31">
        <v-tabs fixed-tabs
                align-with-title
                v-model="currentTab"
                :show-arrows="true">
            <v-tab>
                <i class="pmc-icon pmc-dashboard"></i>
                系統儀表板
            </v-tab>
            <v-tab>
                <i class="pmc-icon pmc-progress"></i>
                生產進度看板
            </v-tab>
            <v-tab>
                <i class="pmc-icon pmc-workpiece"></i>
                工件管理
            </v-tab>
            <v-tab>
                <i class="pmc-icon pmc-workorder"></i>
                工單管理
            </v-tab>
            <v-tab>
                <i class="pmc-icon pmc-schedule"></i>
                智慧排程
            </v-tab>
            <v-tab>
                <i class="pmc-icon pmc-checkin"></i>
                報工
            </v-tab>
            <v-tab>
                <i class="pmc-icon pmc-setting"></i>
                系統設定
            </v-tab>
        </v-tabs>
        <template v-slot:extension>
        </template>
    </v-app-bar>
    <v-main>
        <v-container>
            <full-page ref="fullpage" :options="options" id="fullpage">
                <div class="section">
                    First section ...
                </div>
                <div class="section">
                    Second section ...
                </div>
                <div class="section footerH"></div>
            </full-page>
        </v-container>
    </v-main>
</v-app>
