@import "src/assets/styles/setting";

.index {
  overflow-x: hidden;

  .nav-menu {
    display: none;
    position: fixed;
    bottom: 45px;
    left: 25px;
    @include lg {
      display: block;
    }

    .nav-item {
      display: flex;
      align-items: center;
      margin-bottom: 18px;

      .icon-circle {
        width: 15px;
        height: 15px;
        min-width: 15px;
        min-height: 15px;
        background: #d76e51;
      }

      span {
        margin: 0 0 0 8px;
        font-size: 15px;
        font-weight: normal;
        line-height: 1;
        letter-spacing: normal;
        color: #000;
      }

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  .resume-toolbar-title {
    font-size: 33px;
    font-weight: 500;
    line-height: 0.88;
    letter-spacing: normal;
    color: #fff;
  }

  .resume-tabs {
    .v-tab {
      &:hover {
        &:before {
          opacity: 0;
        }
      }
    }

    .v-tab--active {
      &:before {
        opacity: 0;
      }

      &:hover {
        &:before {
          opacity: 0;
        }
      }
    }

    .resume-tab-items {
      div {
        margin: 0 1px 3px 2px;
        font-size: 17px;
        font-weight: 500;
        line-height: 1.35;
        letter-spacing: normal;
        color: #fff;
      }
    }
  }

  .fullpage-wrapper {
    .section[data-anchor="About"] {
      background-color: #d76e51;

      &::before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 0;
        height: 0;
        border-style: none;
        border-top: 150vh solid #76856a;
        border-right: 80vW solid transparent;
      }
    }

    .section[data-anchor="Portfolio"] {
      background-color: #FFFFFF
    }
  }
}
