<v-app class="index">
    <v-app-bar app
               short
               clipped-right
               flat
               color="rgba(0, 0, 0, 0.3)"
               height="75px">
        <v-row no-gutters>
            <v-col style="display: flex; align-items: center;">
                <a class="resume-toolbar-title"
                   href="/">
                    PHIL TSAI
                </a>
            </v-col>
            <v-col class="hidden-sm-and-down">
                <v-tabs align-with-title
                        background-color="transparent"
                        color="white"
                        show-arrows
                        hide-slider
                        right
                        v-model="currentTab"
                        class="resume-tabs nav">
                    <v-tab data-menuanchor="About">
                        <a class="resume-tab-items" href="#About">
                            <div>關於我</div>
                            <div>ABOUT</div>
                        </a>
                    </v-tab>
                    <v-tab data-menuanchor="Portfolio">
                        <a class="resume-tab-items" href="#Portfolio">
                            <div>作品集</div>
                            <div>PORTFOLIO</div>
                        </a>
                    </v-tab>
                    <v-tab data-menuanchor="Resume">
                        <a class="resume-tab-items" href="#Resume">
                            <div>履歷</div>
                            <div>RESUME</div>
                        </a>
                    </v-tab>
                    <v-tab data-menuanchor="Contact">
                        <a class="resume-tab-items" href="#Contact">
                            <div>聯絡我</div>
                            <div>CONTACT</div>
                        </a>
                    </v-tab>
                </v-tabs>
            </v-col>
            <div class="hidden-md-and-up menu-button">
                <button @click="showMenu">
                    <i class="resume-icon icon-menu"></i>
                </button>
            </div>
        </v-row>
    </v-app-bar>

    <v-navigation-drawer v-model="isShowMenu"
                         width="100%"
                         fixed
                         right
                         app
                         touchless
                         color="#e6e6e6"
                         class="resume-drawer">
        <div class="drawer-top">
            <button @click="showMenu(false)">
                <i class="resume-icon icon-close_big resume-icon-50"></i>
            </button>
        </div>
        <div class="drawer-list">
            <div class="drawer-list-item">
                <a href="#About">
                    <span>關於我ABOUT</span>
                </a>
            </div>
            <div class="drawer-list-item">
                <a href="#Portfolio">
                    <span>作品集PORTFOLIO</span>
                </a>
            </div>
            <div class="drawer-list-item">
                <a href="#Resume">
                    <span>履歷RESUME</span>
                </a>
            </div>
            <div class="drawer-list-item">
                <a href="#Contact">
                    <span>聯絡我CONTACT</span>
                </a>
            </div>
        </div>
    </v-navigation-drawer>
    <v-main>
        <full-page ref="fullpage" :options="options" id="fullpage">
            <div class="section">
                <About></About>
            </div>
            <div class="section">
                <Portfolio></Portfolio>
            </div>
            <div class="section">
                <Resume></Resume>
            </div>
            <div class="section">
                <Contact></Contact>
            </div>
            <div class="section footer fp-auto-height">
                <div class="footer-wrapper">
                    <div class="copyright">
                        <span>
                            Copyright ©2022 All rights reserved by Phil Tsai.
                        </span>
                    </div>
                </div>
            </div>
        </full-page>
    </v-main>
    <div class="nav nav-menu">
        <a class="nav-item"
           href="#About"
           data-menuanchor="About">
            <i class="resume-icon icon-circle"></i>
            <span>關於我</span>
        </a>
        <a class="nav-item"
           href="#Portfolio"
           data-menuanchor="Portfolio">
            <i class="resume-icon icon-circle"></i>
            <span>作品集</span>
        </a>
        <a class="nav-item"
           href="#Resume"
           data-menuanchor="Resume">
            <i class="resume-icon icon-circle"></i>
            <span>履歷</span>
        </a>
        <a class="nav-item"
           href="#Contact"
           data-menuanchor="Contact">
            <i class="resume-icon icon-circle"></i>
            <span>聯絡我</span>
        </a>
    </div>
</v-app>
