@import "src/assets/styles/setting";

.index {
  overflow-x: hidden;

  .nav-menu {
    display: none;
    position: fixed;
    bottom: 65px;
    left: 25px;
    @include lg {
      display: block;
    }

    .nav-item {
      display: flex;
      align-items: center;
      margin-bottom: 18px;

      .icon-circle {
        width: 15px;
        height: 15px;
        min-width: 15px;
        min-height: 15px;
        background: #d76e51;
      }

      span {
        margin: 0 0 0 8px;
        font-size: 15px;
        font-weight: normal;
        line-height: 1;
        letter-spacing: normal;
        color: #000;
      }

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  .resume-toolbar-title {
    margin-left: 0;
    font-size: 33px;
    font-weight: 500;
    line-height: 0.88;
    letter-spacing: normal;
    color: #fff;
    @include mb {
      font-size: 20px;
      line-height: 1;
    }
  }

  .resume-tabs {
    .v-tab {
      &:hover {
        &:before {
          opacity: 0;
        }
      }
    }

    .v-tab--active {
      &:before {
        opacity: 0;
      }

      &:hover {
        &:before {
          opacity: 0;
        }
      }
    }

    .resume-tab-items {
      display: block;

      div {
        margin: 0 1px 3px 2px;
        font-size: 17px;
        font-weight: 500;
        line-height: 1.35;
        letter-spacing: normal;
        color: #fff;
      }
    }
  }

  .menu-button {
    display: flex;
    align-items: center;
    margin-left: auto;

    button {
      display: flex;
      align-items: center;
    }
  }

  .footer{
    background-color: #e6e6e6;
    .footer-wrapper{

      .copyright{
        padding: 20px 0;
        font-size: 15px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.4;
        letter-spacing: normal;
        text-align: center;
        color: #000;
        margin: 0 auto;
      }
    }
  }

  .fullpage-wrapper {
    ::v-deep {
      .fp-tableCell {
        > div {
          max-width: 1150px;
          margin: 0 auto;
          @include mb{
            margin: 80px auto;
          }

          @include lg {
            max-width: 1000px;
          }
          @include xl {
            max-width: calc(100% - 450px);
          }
        }
      }
    }

    .section[data-anchor="About"] {
      background-color: #d76e51;

      &::before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 0;
        height: 0;
        border-style: none;
        border-top: 150vh solid #76856a;
        border-right: 80vW solid transparent;
      }
    }

    .section[data-anchor="Portfolio"] {
      background-color: #FFFFFF;
    }

    .section[data-anchor="Resume"] {
      background-color: #e6e6e6;
    }

    .section[data-anchor="Contact"] {
      background-color: #d76e51;

      &::before {
        content: "";
        background-color: #76856a;
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 100%;
        border-style: none;
      }
    }
  }
}
