<v-app>
<!-- <el-main style="height: calc(100vh - 37px);">-->
    <el-main>
        <!--        <router-view style="min-height: calc(100% - 78px); " ></router-view>-->
        <!--        <div class="copyrights">-->
        <!--            <div class="text">-->
        <!--                {{ copyRight }}-->
        <!--            </div>-->
        <!--        </div>-->
        <v-fullpage>
            <div slot="section"></div>
            <div slot="section"></div>
        </v-fullpage>

<!--        <div class="fullpage-container">-->
<!--            <div class="fullpage-wp" v-fullpage="opts">-->
<!--                <div class="page-1 page">-->
<!--                    <p class="part-1" v-animate="{value: 'bounceInLeft'}">vue-fullpage1</p>-->
<!--                </div>-->
<!--                <div class="page-2 page">-->
<!--                    <p class="part-2" v-animate="{value: 'bounceInRight'}">vue-fullpage2</p>-->
<!--                </div>-->
<!--                <div class="page-3 page">-->
<!--                    <p class="part-3" v-animate="{value: 'bounceInLeft', delay: 0}">vue-fullpage3</p>-->
<!--                    <p class="part-3" v-animate="{value: 'bounceInRight', delay: 600}">vue-fullpage4</p>-->
<!--                    <p class="part-3" v-animate="{value: 'zoomInDown', delay: 1200}">vue-fullpage5</p>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
    </el-main>
</v-app>
