<div class="resume">
    <div class="resume-header">
        <div class="header-title">
            <span>履歷</span>
            <br>
            <span>RESUME</span>
        </div>
    </div>

    <div class="resume-timeline">
        <div class="resume-content-wrapper">
            <TimelineComponent TimelineHeader="工作經歷"
                               TimelineIcon="icon-briefcase"
                               :Timeline="workTimeline"
                               class="scrollable-content"></TimelineComponent>
        </div>
        <div class="resume-content-wrapper">
            <TimelineComponent TimelineHeader="教育學歷"
                               TimelineIcon="icon-edu"
                               :Timeline="educationTimeline"
                               class="scrollable-content"></TimelineComponent>
        </div>
    </div>
    <div class="resume-footer">
        <button class="resume-button"
                @click="downloadResume">
            下載履歷
        </button>
    </div>
</div>
