<div class="contact">
    <div class="contact-header resume-header">
        <div class="header-title">
            <span>聯絡我</span>
            <br>
            <span>CONTACT</span>
        </div>
    </div>
    <div class="contact-content">
        <div class="contact-info">
            <div class="contact-info-item">
                <div class="contact-icon">
                    <i class="resume-icon icon-circle icon-90"></i>
                    <i class="resume-icon icon-60 icon-mail"></i>
                </div>
                <span>birdwind.work@gmail.com</span>

            </div>
            <hr class="hidden-md-and-up"/>
            <div class="contact-info-item">
                <div class="contact-icon">
                    <i class="resume-icon icon-circle icon-90"></i>
                    <i class="resume-icon icon-60 icon-phone"></i>
                </div>
                <span>0910-438-829</span>
            </div>
        </div>
        <div class="contact-form resume-form">
            <div class="contact-form-wrapper">
                <div class="left">
                    <div class="resume-form-group">
                        <input placeholder="請輸入姓名"/>
                        <span class="error-msg"></span>
                    </div>
                    <div class="resume-form-group">
                        <input placeholder="請輸入Email"/>
                        <span class="error-msg"></span>
                    </div>
                    <div class="resume-form-group">
                        <input placeholder="請輸入標題"/>
                        <span class="error-msg"></span>
                    </div>
                </div>
                <div class="right">
                    <div class="resume-form-group form-textarea">
                        <textarea placeholder="請輸入姓名"/>
                        <span class="error-msg"></span>
                    </div>
                </div>
            </div>
            <div class="contact-form-footer">
                <button>送出</button>
            </div>
        </div>
    </div>
</div>
