@import "src/assets/styles/setting";
.timeline {
  width: 100%;
  height: 100%;

  .timeline-item {
    position: relative;

    .timeline-item-tail {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 30px;
      width: 2px;
      background: #FFFFFF;
    }

    .timeline-item-wrapper {
      .timeline-item-icon {
        margin-right: 15px;
        display: inline-block;
        position: absolute;
        top: 40px;

        .icon-circle {
          position: relative;
          top: 0;
          left: 23px;
          width: 8px;
          height: 8px;
          min-width: 8px;
          min-height: 8px;
          background-color: #fff;
          border: solid 1px #6d6d6d;
          z-index: 3;
        }

        .icon-content {
          position: absolute;
          top: 13px;
          left: 14px;
          z-index: 4;
        }
      }

      .timeline-item-content {
        position: relative;
        display: inline-block;
        padding: 20px;
        background-color: #fff;
        margin-left: 60px;
        max-width: calc(100% - 100px);
        min-width: calc(100% - 100px);
        top: 40px;

        .item-header {
          .company-title {
            font-size: 16px;
            font-weight: 500;
            line-height: 1;
            letter-spacing: normal;
            color: #373737;
            margin-right: 10px;
          }

          .company-name {
            font-size: 15px;
            font-weight: normal;
            line-height: 1;
            letter-spacing: normal;
            color: #373737;
          }
        }

        .item-date {
          font-size: 13px;
          font-weight: 500;
          font-stretch: normal;
          font-style: normal;
          line-height: 1;
          letter-spacing: normal;
          color: #d76e51;
          margin-top: 12px;
          margin-bottom: 8px;
        }

        .item-content {
          font-size: 13px;
          font-weight: normal;
          line-height: 1.46;
          letter-spacing: normal;
          color: #373737;
        }
      }
    }

    &.timeline-item-header {
      padding-bottom: 12px;
      z-index: 99;

      .timeline-item-tail {
        margin-top: 5px;
      }

      .timeline-item-wrapper {
        .timeline-item-icon {
          top: 0;

          .icon-56 {
            top: 0;
            left: 0;
            width: 56px;
            height: 56px;
            background-color: #76856a;
            border: 0;
          }
        }

        .timeline-item-content {
          position: relative;
          top: 25px;
          display: inline-block;
          padding: 0;
          font-size: 24px;
          font-weight: 500;
          font-stretch: normal;
          font-style: normal;
          line-height: 0.88;
          letter-spacing: normal;
          text-align: center;
          color: #76856a;
          background-color: transparent;
          margin-left: 75px;
          min-width: 0;
        }
      }

      & + .timeline-item {
        margin-top: 0;
      }

    }

    & + .timeline-item {
      margin-top: 25px;

      .timeline-item-tail {
        top: -25px;
      }
    }
  }

  .timeline-wrapper{
    height: 100%;
    overflow: auto;
    @include mb{
      height: unset;
      overflow: initial;
    }
  }
}
