<div class="timeline">
    <div class="timeline-item timeline-item-header">
        <div class="timeline-item-tail"></div>
        <div class="timeline-item-wrapper">
            <div class="timeline-item-icon">
                <i class="resume-icon icon-circle icon-56"></i>
                <i class="resume-icon resume-icon-36 icon-content" :class="TimelineIcon"></i>
            </div>
            <span class="timeline-item-content">{{ TimelineHeader }}</span>
        </div>
    </div>
    <div class="timeline-wrapper">
        <div v-for="item in Timeline"
             class="timeline-item">
            <div class="timeline-item-tail"></div>
            <div class="timeline-item-wrapper">
                <div class="timeline-item-icon">
                    <i class="resume-icon icon-circle"></i>
                </div>
                <div class="timeline-item-content">
                    <div class="item-header">
                        <span class="company-title">{{ item.title }}</span>
                        <span class="company-name">{{ item.subTitle }}</span>
                    </div>
                    <div class="item-date">
                        <span class="start-date">{{ item.startDate }}</span>
                        -
                        <span class="end-date">{{ item.endDate }}</span>
                    </div>
                    <div class="item-content">
                    <span v-html="item.content">
                    </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
