<div class="about">
    <div class="triangle"></div>
    <div class="about-wrapper">

        <v-row class="business-card">
            <v-col cols="12"
                   md="4"
                   class="business-card-left">
                <div class="business-card-image"></div>
                <div class="business-card-personal">
                    <div class="business-card-name">
                        <span>蔡勝豐 PHIL TSAI</span>
                    </div>
                    <hr/>
                    <div class="business-card-job">
                        <span>軟體工程師</span>
                    </div>
                </div>
                <hr/>
                <div class="business-card-official-link">
                    <a class="official-link-item"
                       href="https://www.facebook.com/birdwund/"
                       target="_blank">
                        <i class="resume-icon icon-facebook"></i>
                    </a>
                    <a class="official-link-item"
                       href=""
                       target="_blank">
                        <i class="resume-icon icon-linked"></i>
                    </a>
                    <a class="official-link-item"
                       href="https://www.instagram.com/"
                       target="_blank">
                        <i class="resume-icon icon-instagram"></i>
                    </a>
                </div>
            </v-col>
            <v-col cols="12"
                   md="7"
                   class="business-card-right">
                <div class="intro-title">
                    <span>你好，我是蔡勝豐</span>
                </div>
                <div class="intro-sub-title">
                    <span>Hello, I am Phil, Tsai</span>
                </div>
                <div class="intro-content">
                    <div>
                        <span>熱衷吸取新技術，永遠對於新技術抱持著熱情。<br>
                            目前有4年左右的工作經歷，重視團隊合作與溝通，並樂於分享新知，在不同領域中都可以快速吸收並上手，目前任職於接案公司擔任軟體工程師</span>
                    </div>
                </div>
                <button class="resume-button" @click="downloadResume">下載履歷</button>
            </v-col>
            <v-col cols="12" style="display:flex; justify-content:center; height: 70px;">
                <div class="divider-vertical"></div>
            </v-col>
        </v-row>
    </div>
</div>
