<div class="about">
    <v-row class="business-card">
        <v-col cols="12"
               md="4"
               class="business-card-left">
            <div class="business-card-image"></div>
            <div class="business-card-name">
                <span>蔡勝豐 PHIL TSAI</span>
            </div>
            <hr/>
            <div class="business-card-official-link">
                <div class="official-link-item">
                    <i class="resume-icon icon-facebook"></i>
                </div>
                <div class="official-link-item">
                    <i class="resume-icon icon-linked"></i>
                </div>
                <div class="official-link-item">
                    <i class="resume-icon icon-instagram"></i>
                </div>
            </div>
        </v-col>
        <v-col cols="12"
               md="7"
               class="business-card-right">
            <div class="intro-title">
                <span>這是標題</span>
            </div>
            <div class="intro-sub-title">
                <span>THIS IS TITLE</span>
            </div>
            <div class="intro-content">
                <span>這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容</span>
            </div>
            <button class="resume-button">下載履歷</button>
        </v-col>
    </v-row>
</div>
