@import "src/assets/styles/setting";

.about {
  position: relative;

  .about-wrapper {
    @include mb {
      //margin-top: 80px;
    }

    .business-card {
      display: flex;
      height: 440px;
      width: 100%;
      max-height: 440px;
      margin: 0 auto;
      justify-content: center;
      @include mb {
        height: auto;
        max-height: unset;
      }

      .business-card-left {
        width: 280px;
        height: 100%;
        max-width: 280px;
        max-height: 100%;
        box-shadow: 1px 2px 15px -1px rgba(0, 0, 0, 0.3);
        background-color: #fff;
        padding: 25px;

        .business-card-image {
          background-image: url("/images/self.jpg");
          width: 230px;
          height: 260px;
          background-position-x: -200px;
          background-position-y: -620px;
          margin: 0 auto;
        }

        .business-card-personal {

          .business-card-name {
            display: flex;
            align-items: center;
            font-size: 26px;
            font-weight: bold;
            line-height: 1.08;
            letter-spacing: normal;
            margin-top: 10px;

            span {
              margin: 0 auto;
            }
          }

          .business-card-job {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 18px;
            font-weight: bold;
            line-height: 1.08;
            letter-spacing: normal;
          }

          hr {
            width: 30px;
            margin: 10px auto !important;
          }
        }

        hr {
          border-top: 1px solid #D5D5D5;
          margin: 10px;
        }

        .business-card-official-link {
          display: flex;
          flex: 0 1 auto;
          align-items: center;
          justify-content: center;
          margin: 0 15px;

          .official-link-item {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;

            i {
              cursor: pointer;
            }

            &:hover {

              .icon-facebook {
                background-image: url("/icons/icon_facebook_active.svg");
              }

              .icon-linked {
                background-image: url("/icons/icon_linked_active.svg");
              }

              .icon-instagram {
                background-image: url("/icons/icon_instagram_active.svg");
              }
            }
          }
        }
      }

      .business-card-right {
        width: 100%;
        margin-left: 30px;
        padding: 25px 0;
        @include mb {
          margin-left: 0;
          padding: 25px 30px;
        }

        .intro-title {
          height: 50px;
          font-size: 42px;
          font-weight: bold;
          line-height: 1.14;
          letter-spacing: normal;
          color: #fff;
        }

        .intro-sub-title {
          height: 30px;
          font-size: 28px;
          font-weight: normal;
          line-height: 0.93;
          letter-spacing: normal;
          color: #fff;
        }

        .intro-content {
          height: 100%;
          max-height: 183px;
          margin: 25px 0;
          font-size: 16px;
          font-weight: normal;
          line-height: 1.63;
          letter-spacing: normal;
          color: #fff;

          ::-webkit-scrollbar {
            width: 8px;
          }

          ::-webkit-scrollbar-thumb {
            border-radius: 4px;
            box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
            background: rgba(0, 0, 0, 0.7);
          }

          > div {
            overflow: auto;
            height: 100%;

            span {
              > * {
                display: inline-block;
              }
            }
          }
        }
      }
    }
  }
}
