.v-application {
  font-family: "NotoSansTC-Medium", serif;

  .v-application--wrap {
    flex-direction: unset;
    background-color: #d76e51;
  }

  .container{
    max-width: 100%!important;
  }
}

.v-navigation-drawer {
  .v-navigation-drawer__content {
    width: 100%;
  }
}

.v-app-bar {
  padding: 0 58px;
  opacity: .8;

  &.v-toolbar--prominent {
    .v-toolbar__content {
      align-items: center;
    }
  }
}
